*{

box-sizing: border-box;

}
.container-fluid{
    position: relative;
    /*margin:10px;*/
}   

.navbar-brand{
    height:auto;
}

#header-nav{
    color:white;
    background-color: yellow;
    
}

#nav-list{
    background-color:yellow;
    
}
.navbar-toggler-icon{
    background-color: black;
}


.row{
   
    margin:10px;
    padding:20px;
}



.menu{
    
    position: relative;
    background-color:beige;
    text-align: justify;
    height: 900px;
    margin-bottom: 10px;

    
   
    
    

}

h2{
    text-align: center;
    font-weight: bold;
    
}


